@model ApplicationVM

@{
    ViewData["Title"] = "Ozgecmis Yukleme";
    Layout = "_LayoutUser";
}

<h1 class="text-center">Özgeçmiş Yükleme</h1>

<hr />
<form asp-controller="User" asp-action="Application" method="post" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="JobPositionId" class="control-label">Başvurulacak Pozisyon</label>
                <select asp-for="JobPositionId" asp-items="@(new SelectList(Model.JobPositions, "Id","Name"))" class="form-control">
                    <option value="" hidden disable selected>İş Pozisyonu Seçiniz</option>
                </select>
                <span asp-validation-for="JobPositionId" class="text-danger"></span>
            </div>

            <div class="form-group mt-md-0">
                <label asp-for="Name" class="control-label">İsim</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-md-0">
                <label asp-for="Surname" class="control-label">Soyisim</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label">Cinsiyet</label>
                <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control" id="genderSelection">
                    <option value="" hidden disable selected="selected">Cinsiyet Seçiniz</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-12" id="militaryStatus" style="display: none">

                <label asp-for="MilitaryStatus" class="control-label mr-5">Askerlik hizmetimi tamamladım.</label>
                <label class="switch">
                    <input class="form-check-input mr-4" asp-for="MilitaryStatus" type="checkbox" >
                    <slider class="slider round">
                    </slider>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label">Medeni Hal</label>
                <select asp-for="MaritalStatus" asp-items="@Html.GetEnumSelectList<MaritalStatus>()" class="form-control">
                    <option value="" hidden disable selected="selected">Medeni Hal Seçiniz</option>
                </select>
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>

            <div class="row col-md-6">
                <label for="exampleFormControlFile1">Özgeçmişinizi yükleyiniz.</label>
                <input asp-for="FormFile" type="file" name="FormFile" class="form-control-file" id="exampleFormControlFile1">
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group mt-md-0">
                <label asp-for="Email" class="control-label">Email Adresi</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-md-0">
                <label asp-for="PhoneNumber" class="control-label">Cep Telefonu</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Doğum Tarihi</label>
                <input type="date" asp-for="BirthDate" class="form-control" value="2000-01-01" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label">Adres</label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-12">

                <label asp-for="KVKKCheck" class="control-label mr-5">KVKK Metnini okudum ve kabul ediyorum.</label>
                <label class="switch">
                    <input class="form-check-input mr-4" asp-for="KVKKCheck" type="checkbox">
                    <slider class="slider round">
                    </slider>
                </label>
            </div>

            <div class="form-group row mt-md-5">

                <div class="col-md-12">
                    <input type="submit" value="Özgeçmiş Yükle" class="btn btn-primary col-md-12" />
                </div>

            </div>
        </div>
    </div>

</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $("#genderSelection").change(function() {

            selectElement = document.querySelector('#genderSelection');
            output = selectElement.options[selectElement.selectedIndex].value;

            if (output == "1") {

                $("#militaryStatus").show();
                
            }
            else {

                $("#militaryStatus").hide();
            }
        });

    </script>

}



    <style>

        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

            .switch input {
                display: none;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #808080;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
            }

        /* include generated hidden field here */
        input[type="checkbox"]:checked + input[type="hidden"] + .slider,
        input[type="checkbox"]:checked + .slider {
            background-color: #2f6dcf;
        }

        /* include generated hidden field here */
        input[type="checkbox"]:focus + input[type="hidden"] + .slider,
        input[type="checkbox"]:focus + .slider {
            box-shadow: 0 0 1px #52BE80;
        }

        /* include generated hidden field here */
        input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 40px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

    </style>